.Meaning {
  text-align: left;
  padding: 15px 30px 0px;
  margin: 15px 70px;
  background-color: #52388f81;
  border: 3px black dotted;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}
.partOfSpeech {
  font-size: 20px;
  font-weight: bold;
}
.definition {
  font-size: 20px;
  font-weight: 600;
}
.example {
  font-style: italic;
  font-weight: 400;
}
.noExample {
  color: rgb(211, 209, 209);
  font-style: italic;
  font-weight: 400;
}
